<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="explore.css" />
  </head>
  <body>
    <header>
        <img src="./assets/images/logo.png" alt="" />
        <ul id="navbar">
          <li><a href="./index.html">Home</a></li>
          <li><a href="./explore.html">Explore</a></li>
        </ul>
        <a href="./profile.html"><img id="profpic" src="./assets/images/default-profile-img.webp" alt=""/></a>
    </header>
    <section class="content">
      <a class = "card" href="index.html">
        <div class = "article">
          <h3>Title</h3>
          <img src="./assets/images/dumbell logo.jpg">
          <p>Description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias velit quisquam suscipit quod accusamus, veritatis neque sunt, rem eum fugiat iure delectus quasi architecto nostrum vel consequuntur et natus ipsum.</p>
        </div>
      </a>
      <a class = "card" href="index.html">
        <div class = "article">
          <h3>Title</h3>
          <img src="./assets/images/dumbell logo.jpg">
          <p>Description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias velit quisquam suscipit quod accusamus, veritatis neque sunt, rem eum fugiat iure delectus quasi architecto nostrum vel consequuntur et natus ipsum.</p>
        </div>
      </a>
      <a class = "card" href="index.html">
        <div class = "article">
          <h3>Title</h3>
          <img src="./assets/images/dumbell logo.jpg">
          <p>Description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias velit quisquam suscipit quod accusamus, veritatis neque sunt, rem eum fugiat iure delectus quasi architecto nostrum vel consequuntur et natus ipsum.</p>
        </div>
      </a>
      <a class = "card" href="index.html">
        <div class = "article">
          <h3>Title</h3>
          <img src="./assets/images/dumbell logo.jpg">
          <p>Description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias velit quisquam suscipit quod accusamus, veritatis neque sunt, rem eum fugiat iure delectus quasi architecto nostrum vel consequuntur et natus ipsum.</p>
        </div>
      </a>
    </section>
    <script src="script.js"></script>
  </body>