* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensures the header stays above other content */
  display: flex;
}

header > * {
  margin: 0 10px;
}

header > img,
header > a > img {
  width: 50px;
  border-radius: 50px;
}

#navbar {
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
}

#navbar li {
  margin-right: 10px;
  margin-top: 10px;
  padding: 0;
}

#profpic {
  position:absolute;
  right: 10px;
}

#navbar a {
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  background-color: magenta;
}

#navbar > li > a:hover{
  background-color: red;
}

.container{
  padding: 2rem;
}

.container h2{
  text-align: center;
  padding-bottom: 1rem;
}

.slider-wrapper{
  position: relative;
  margin: 0 auto;
  max-width: 40rem;
  border-style:solid;
  border-radius: 10px;
}

.slider{
  display: flex;
  overflow-x: hidden;
  aspect-ratio: 16/9;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 10px;
}

.slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav{
  display: flex;
  gap: 1rem;
  position:absolute;
  bottom: 1rem;
  left:50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: grey;
  opacity: 0.75;
  transition: opacity ease 200ms;
}

.slider-nav a:hover{
  opacity: 1;
}

.article {
  margin: 30px 20px 0 20px; /*top right bottom left*/
  border-style:outset;
  width: 60%;
}

#add-button {
  text-decoration: none;
  background-color: orange;
  position:absolute;
  right: 40px;
  bottom: 30px;
  font-size: 60px;
  padding: 5px 22px 5px 25px;
  border-radius: 60px;
}

#add-button:hover{
  background-color: red;
}
