<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      header {
        background-color: #333;
        color: #fff;
        padding: 10px 0;
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 1000; /* Ensures the header stays above other content */
        display: flex;
      }

      header > * {
        margin: 0 10px;
      }

      header > img,
      header > a > img {
        height: 50px;
        border-radius: 50px;
      }

      h1{
        margin: 0.5rem 0.5rem 0 0;
        text-align: center;
      }

      #navbar {
            list-style-type: none;
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            display: flex;
      }

      header li {
          margin-right: 10px;
          margin-top: 10px;
          /* margin-bottom:10px; */
          padding: 0;
      }

      #profpic {
        position:absolute;
        right: 10px;
      }

      header a {
        text-decoration: none;
        padding: 10px 15px 10px 15px;
        background-color: white;
        opacity: 0.8;
        transition: all ease 500ms;
        color:black;
      }

      header a:hover{
        opacity: 1;
      }

      #login{
        position:absolute;
        right:6rem;
        top: 20px;
      }

      #signup{
        position: absolute;
        right: 10px;
        top: 20px;
      }

      #navbar-right{
        list-style-type: none;
      }

      body{
        padding: 0 0 5rem 0;
      }

      .top-categories{
        padding-left: 2rem;
        padding-right: 2rem;
      }

      .top-categories h2{
        margin: 1rem auto;
        padding-bottom: 1rem;
      }

      .slider-wrapper{
        position: relative;
        margin: auto;
        margin-bottom: 2rem;
        max-width:40rem;
        border-style:solid;
        border-radius: 10px;
      }

      .slider{
        display: flex;
        overflow-x: hidden;
        overflow-y: hidden;
        aspect-ratio: 16/9;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        border-radius: 10px;
        
      }

      .slider div{
        position: relative;
        flex: 1 0 100%;
        scroll-snap-align: start;
      }

      .slider div::after{
        content:"";
        position: absolute;
        top:60%;
        left:0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        z-index:1;
      }

      .slider div img{
          height: 100%;
          width: 100%;
          object-fit: cover;
      }

      .slider div a{
        position:absolute;
        bottom:3rem;
        right:3rem;
        text-align:right;
        color: white;
        z-index: 2;
        transition: all ease 250ms;
        size:20px;
      }

      .slider div a:hover{
        transform: scale(1.2);
      }


      .slider-nav{
        display: flex;
        gap: 1rem;
        position:absolute;
        bottom: 1rem;
        left:50%;
        transform: translateX(-50%);
        z-index: 2;
      }

      .slider-nav a{
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: white;
        opacity: 0.75;
        transition: opacity ease 200ms;
        z-index:2;
      }

      .slider-nav a:hover{
        opacity: 1;
      }

      .content{
        padding-left: 2rem;
        display: flex;
        justify-content: left;
        gap:2.5rem;
        flex-wrap: wrap;
      }

      h2{
        margin-top:2rem;
        margin-left:2rem; 
        text-align: center;
      }

      .card{
        display: block;
        text-decoration: none;
        color: black;
        width:30%;
        transition: box-shadow .3s;
      }

      .card:hover{
        box-shadow: 0 0 1rem rgba(33, 33, 33, 0.2);
      }

      .article {
        border: black 2px outset;
        padding: 2rem 2rem 2rem 2rem;
      }

      .article h3{
        font-size: 1.75rem;
      }

      .article img{
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
      }

      p{
        margin-top: 0.5rem;
      }

      .muted{
        color:#949494;
      }

      #more{
        text-decoration: none;
        display: inline-block;
        position: absolute;
        right: 6rem;
        margin-top: 1rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        border: 2px rgba(0,0,0,0.2) outset;
      }

      #add-button {
        text-decoration: none;
        color: black;
        background-color: white;
        position:fixed;
        right: 40px;
        bottom: 30px;
        font-size: 60px;
        padding: 5px 22px 5px 25px;
        border-radius: 60px;
        transition: box-shadow .3s; 
        border: 2px rgba(0,0,0,0.2) outset;
      }

      #add-button:hover{
        box-shadow: 0 0 1rem rgba(33, 33, 33, 0.2);
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="features\feature-1\homepage\styles.css" />
  </head>
  <body>
    <!-- header -->
    <header>
      <img src="/images/logo.png" alt="rwar"/>
      <ul id="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="explore">Explore</a></li>
      </ul>
      <% if (username) { %>
        <a class="right-btn" href="/logout">Logout</a>
        <a href="./profile"><img id="profpic" src="/images/default-profile-img.webp" alt=""/></a>
      <%} else{%>
        <ul id ="navbar-right">
          <li><a id="login" href="/login">Login</a></li>
          <li><a id="signup" href="/signup">Signup</a></li>
        </ul>
      <%}%>  
      
    </header>
    <!-- content -->
    <% if (username) { %>
      <h1>Welcome to the homepage, <%= username %>!</h1>
    <% } %>

    <section class="top-categories">
      <h2>Top Categories</h2>
      <div class="slider-wrapper">
        <div class="slider">
          <div id="img1">
            <img id="slide-1" src="/images/test-1.png">
            <a href = "./category/category1">Category 1</a> 
          </div>
          <div id="img2">
            <img id="slide-2" src="/images/test-2.jpg">
            <a href = "./category/category2">Category 2</a>
          </div>
          <div id="img3">
            <img id="slide-3" src="/images/test-3.jpg">
            <a href = "./category/category3">Category 3</a>
          </div>
        </div>
        <div class="slider-nav">
          <a href="#img1"></a>
          <a href="#img2"></a>
          <a href="#img3"></a>
        </div>
      </div>
    <h2>Latest Articles</h2>
    <section class="content">
      <% articles.forEach(article => { %>
        <a class = "card" href="">
          <div class = "article">
            <h3><%= article.title %></h3>
            <img src="/images/logo.png">
            <p class="muted"><%= article.publish_date.toLocaleDateString() %></p>
            <p style="color:#333";><%= article.short_description %></p>
          </div>
        </a>
      <% }) %>
    </section>
    <a id="more" href="../explore/">> See More...</a>
    <a id="add-button" href="../form/">+</a>
    <script src="script.js"></script>
  </body>
</html>